html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.capitalize {
    text-transform: capitalize;
}
/*GENERAL STYLES*/

nav p {
    padding: 30px 20px;
    font-size: 1.5rem;
    text-decoration: underline;
    cursor: pointer;
}

/*HEADER STYLES*/
